/*
 * @Author: wb
 * @Date: 2024-10-29 09:02:48
 * @LastEditors: wb
 * @LastEditTime: 2024-10-29 09:49:25
 * @FilePath: \demo\.eslintignore
 * @Description: 请填写简介
 */
.eslintrc.cjs
node_modules
dist
.DS_Store
*.local
