<!--
 * @Author: wangbo 3812943352@qq.com
 * @Date: 2024-12-21 09:32:17
 * @LastEditors: wangbo 3812943352@qq.com
 * @LastEditTime: 2024-12-21 18:41:49
 * @FilePath: src/views/Page15/test.html
 * @Description: 这是默认设置,可以在设置》工具》File Description中进行配置
 -->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>自定义侧边导航</title>
  <link rel="stylesheet" href="text.css">
</head>
<body>
<div class="ExploreNav" style="opacity: 1; visibility: inherit;">
  <div class="ExploreNav-inner">
    <a href="">
      <div class="ExploreNav-line">
        <div class="ExploreNav-lineInner"></div>
      </div>
      <div class="ExploreNav-lineProgress"></div>
      <div class="ExploreNav-diamond">
        <div class="outerDiamond"></div>
        <div class="highlightDiamond"></div>
        <div class="highlightDiamondOuter" style="translate: none; rotate: none; scale: none; opacity: 0; transform: scale(0.8, 0.8);"></div>
        <span>1</span>
        <div class="innerDiamond"></div>
      </div>
      <span>home</span>
    </a>
    <a href="" >
      <div class="ExploreNav-line">
        <div class="ExploreNav-lineInner"></div>
      </div>
      <div class="ExploreNav-lineProgress"></div>
      <div class="ExploreNav-diamond">
        <div class="outerDiamond"></div>
        <div class="highlightDiamond"></div>
        <div class="highlightDiamondOuter" style="translate: none; rotate: none; scale: none; opacity: 0; transform: scale(0.8, 0.8);"></div>
        <span>2</span>
        <div class="innerDiamond"></div>
      </div>
      <span>数据集</span>
    </a>
    <a href="" >
      <div class="ExploreNav-lineProgress"></div>
      <div class="ExploreNav-diamond">
        <div class="outerDiamond"></div>
        <div class="highlightDiamond"></div>
        <div class="highlightDiamondOuter" style="translate: none; rotate: none; scale: none; opacity: 0; transform: scale(0.8, 0.8);"></div>
        <span>3</span>
        <div class="innerDiamond"></div>
      </div>
      <span>开放统计</span>
    </a>
    <a href="" >
      <div class="ExploreNav-diamond end">
        <div class="innerDiamond"></div>
      </div>
      <span>Your Intergalactic Future Awaits</span>
    </a>
  </div>
</div>

<script>

</script>
</body>
</html>