/*
 * @Author: wb
 * @Date: 2024-10-30 10:04:50
 * @LastEditors: wangbo 3812943352@qq.com
 * @LastEditTime: 2024-11-27 09:40:45
 * @FilePath: src/input.css
 * @Description: 请填写简介
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: rgb(255 255 255 / 100%);
    overflow: hidden;
}

img {
    -webkit-user-drag: none;
}

body {
    background-color: var(--color-bg);
}


.hero::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    width: 380px;
    height: 150px;
    background: linear-gradient(to right, #4460f1, #c471ed, #f64f59);
    z-index: -1;
    filter: blur(70px);
}

.hero {
    font-family: "等线 Light";
    flex: 1 0 66.666%;
    position: relative;
    display: flex;
    gap: 50px;
    padding: 70px 0;
}

.submit:hover {
    box-shadow: #4460f1 0 10px 30px -10px;
}

.submit {
    font-weight: 700;
    color: #fff;
    background-color: #4460f1;
    box-shadow: #4460f1 0 20px 30px -10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.submit {
    font: inherit;
    font-size: 14px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0 20px;
    line-height: 2.2rem;
    border-radius: 10px;
    box-sizing: border-box;
}

.ant-form-item-control-input-content {
    display: flex;
}

.ant-table-wrapper .ant-table-filter-trigger {
    margin-inline: unset;
}

.ant-layout {
    height: 100vh;
}