/**
 * @Author: wangbo 3812943352@qq.com
 * @Date: 2024-12-09 15:15:26
 * @LastEditors: wangbo 3812943352@qq.com
 * @LastEditTime: 2024-12-09 16:27:02
 * @FilePath: src/views/Page1/page1.css
 * @Description: 这是默认设置,可以在设置》工具》File Description中进行配置
 */

.card .ant-card-body {
    padding:12px 30px
}
.bg1{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39CCCC), color-stop(1, #7adddd)) !important;
    
}

.bg2{
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#605ca8),color-stop(1,#9491c4)) !important;
}

.bg3{
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#1688f1),color-stop(1,#3899f3)) !important;
}